{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}


    {% for category in categories %}
        <div>
            <h3> <a name="" id="" class="btn btn-primary" href="#" role="button">{{ category.name }}</a>  </h3>

        </div>
    {% else %}
        No category !
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}

