{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur {{ actor.name }}</h1>

            {% for program in actor.programs %}
                <li><a href="{{ path('program_show', {'id': program.id}) }}">{{ program.title }}</a> </li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
            </ul>


    <a href="{{ path('wild_index') }}">retour à l'index des séries</a>

{% endblock %}
