// Your variable overrides
$body-bg: black;
$body-color: blue;
$theme-colors: (
  "custom-color": red,
);


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    font-family: Verdana, sans-serif; 
    font-size: 150%;
}

.jumbotron {
  background-image: url('../images/series.jpg');
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
