// Your variable overrides
$body-bg: black;
$body-color: white;
$theme-colors: (
  "custom-color": red,
);


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    font-family: Verdana, sans-serif; 
    font-size: 150%;
}
