<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}<link rel="stylesheet" href="../build/app.css">
    </head>
    <body>
        {% block header %}{% endblock %}{% include "navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}<script src="../build/app.js"></script>
    </body>
</html>
